<form class="form-horizontal center" action="">
    <div class="eventTitle">
        Cadastro
    </div>
    <input type="name" ng-model="user.name" id="name" class="form-control" placeholder="nome"/>
    <input type="name" ng-model="user.tel" id="tel" class="form-control" placeholder="tel"/>
    <input type="name" ng-model="user.username" id="user1" class="form-control" placeholder="usuario"/>

    <input type="email" ng-model="user.email1" id="email1" class="form-control" placeholder="e-mail"/>

    <input type="password" ng-model="user.pw1" id="password1" class="form-control" placeholder="senha"/>
    <textarea ng-model="user.comment" id="comment" rows="5" class="form-control" placeholder="Diga ao seu amigo secreto algo importante sobre voce. Ex. Nao gosto de chocolates, etc"></textarea>
    <button type="submit" class="btn btn-large btn-primary" ng-click="doRegister()">Registrar</button>
    <div class="text-center">ou<br><a ui-sref="login">Clique aqui</a> para retornar ao login</div>
</form>
