<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="pull-left buttonGroup">
            <div class="headerButton back" ng-click="logout()"><i class="fa fa-sign-out"></i> </div>
        </div>
        <div class="navbar-header center buttonGroup">
            <a id="userSettings" class="headerButton back"><i class="fa fa-user"></i> </a>
            <div id="addAGame" class="headerButton addAGame"><i class="fa fa-plus"></i> </div>
            <a ui-sref="jogos" class="headerButton back"><i class="fa fa-gamepad"></i> </a>
        </div>
        <div class="pull-right buttonGroup">
            <a  href="whatsapp://send//send?text=Acabei de Participar de um Amigo Secreto usando http://www.eliteinsite.com/AmigoSecreto" data-action="share/whatsapp/share" class="headerButton"><i class="fa fa-share"></i> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<ng-sliding-panel from="left" behavior="overlap" button-open="userSettings" id="usersettingsLeftPanel" style="visibility: hidden;">
    You are not logged in as a user
</ng-sliding-panel>
