<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="pull-left buttonGroup">
        </div>
        <div class="navbar-header center buttonGroup">
            <a ui-sref="home" class="headerButton back"><i class="fa fa-facebook"></i> </a>
            <a ui-sref="home" class="headerButton back"><i class="fa fa-instagram"></i> </a>
            <a ui-sref="home" class="headerButton back"><i class="fa fa-twitter"></i> </a>
        </div>
        <div class="pull-right buttonGroup">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<ng-sliding-panel from="left" behavior="overlap" button-open="userSettings" id="usersettingsLeftPanel" style="visibility: hidden;">
    You are not logged in as a user
</ng-sliding-panel>
