<form class="form-horizontal center" action="">
    <div class="eventTitle">
        Amigo Secreto!
    </div>
    <input type="name" id="name" ng-model="username" class="form-control" placeholder="usuario ou email"/>

    <input type="password" id="password" ng-model="password" class="form-control" placeholder="senha"/>
    <button type="submit" class="btn btn-large btn-primary" ng-click="doLogin()">Entrar</button>
    <div class="text-center">ou<br><a ui-sref="cadastro">Clique aqui</a> para cadastrar-se</div>
</form>
