<form class="form-horizontal center" action="">
    <div class="eventTitle">
        Festa na casa da Dinda
    </div>
    <select name="" id="" class="form-control">
        <option value="null">Escolha seu nome?</option>
        <option value="">Fabio A</option>
        <option value="">Flavio A</option>
    </select>
    <input type="text" class="form-control" placeholder="Confirme seu nome"/>
    <button type="submit" class="btn btn-large btn-primary">Pegar</button>
</form>
        ** incluir foto de participante escolhido com nome