body{
    padding-bottom:105px;
    padding-top:60px;

}
.navbar-fixed-bottom{
    height:50px;
    padding:2px;
    background-color: #FFF;
    opacity: 0.9;
}

.navbar-fixed-top{
    background-color:black;
    opacity: 0.8;
}
.thumbnail{
    min-height:350px;
    padding:10px;
}
.thumbnail-footer{
    bottom:20px;
    position:absolute;
    text-align: right;
}
#technologies{
    padding:10px;
}
#technologies img{
    padding:10px;
    height: 50px !important;
}
.module{
    border:1px solid #CCC;
    padding:10px;
    border-radius:6px;
    margin:5px 0px 5px 0px;
}



/* FLYOUT MENU */

   .flyout-menu ul{
       display:block;
   }

.flyout-menu li {
    list-style-type:none;
    padding:0px;
    margin:0px;
    z-index: 60000;
    height:40px;
    width:200px;
    left:190px;
}

.flyout-menu > ul > li {
    border: 1px solid blue;
    padding: 10px;
    display:block;
    background-color:blue;
}

.flyout-menu > ul > li > ul{
    position:relative;
    display:block;
    margin:0px;
    padding:0px;
    left:180px;
    top:-32px;
}

.flyout-menu > ul > li > ul > li{
    border:1px solid #000;
    background-color:green;
    padding:10px;
}

.flyout-menu > ul > li > ul > li > ul{
    position:relative;
    margin:0px;
    padding:0px;
    left:180px;
    top:-32px;
}


.flyout-menu > ul > li > ul > li > ul > li{
    border:1px solid #000;
    background-color:white;
    padding:10px;
}

.btn.main{
    clear: both;
    display: block;
    background-color: white;
    margin:10px 0px;
    border:1px solid #CCC;
    padding:20px 40px;
}
.buttonGroup a{
    padding:8px 12px;
    margin:5px 0px;
    border:2px solid #750000;
    display: block;
    font-size:large;
    color:#650000;
    border-radius:6px;
    display: inline-block;
}
.buttonGroup a:HOVER{
    color:white;

}
a.navbar-brand{
    color:white;
    font-size:large;
    padding:10px 0px;
}
option:first {
    color: #999;
}
.form-control{
    margin-top:10px;
}
button[type=submit],button[type=button]{
    margin-top:10px;
    width:100%;
}

.eventTitle {
    text-align: center;
    font-size: x-large;
    color: darkred;
}
.center-horizontal{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.no-margin{
    margin:0px !important;
}
.no-padding{
   padding:0px !important;
}
.sectionHeader{
    margin-left: 2px;
    color: orange;
    border: 2px solid;
    padding: 5px;
    border-radius: 6px;
    cursor:pointer;
}

.gamesList.show{
    max-height:1000px;
    overflow:hidden;

    transition: max-height 2s ease;
    -webkit-transition: max-height 2s ease;
    -moz-transition: max-height 2s ease;
    -ms-transition: max-height 2s ease;
    -o-transition: max-height 2s ease;

}
.gamesList.hide{
    overflow:hidden;

    display:block !important;
    max-height:0px;
    transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;

}
.notifications{
    position:fixed;
    bottom:10px;
    left:10px;
    width:300px;
    z-index:20000;
}

.notifications .notification{
    position:relative;
}
.notifications .notification .close{
    position:absolute;
    width:30px;
    height:30px;
    top:0px;
    right:0px;
    display:block;
}