<div class="gameTile">
    <div class="tileIcon"><i class="fa fa-star"></i> </div>
    <div class="title">
        <div class="">{{jogo.name}}</div>
        <div class="subscript">Data:{{jogo.date}} min:R${{jogo.min}} max:R${{jogo.max}}</div>
    </div>
    <div class="buttonGroup">
        <button class="lightblue allPlayers" ng-click="showAllPlayers(jogo.event_id)"><i class="fa fa-users"></i> </button>
        <button class="lightgreen" ng-show="jogo.played == 1" ng-click="showPickedFriend(jogo.pick_name)"><i class="fa fa-user"></i> </button>
        <button class="white" ng-show="jogo.played == 0" ng-click="pickASecretSanta(jogo.id)"><i class="fa fa-gamepad"></i> </button>
        <button class="gray" ng-click="confirmDelete(jogo.id,jogo.event_id)"><i class="fa fa-recycle" ng-click="confirmDelete()"></i> </button>
    </div>
</div>