<div class="gameTile">
    <div class="tileIcon"><i class="fa fa-star"></i> </div>
    <div class="title">
        <div class="">{{jogo.name | trimmer:17}}</div>
        <div class="subscript"><i class="fa fa-calendar"></i> {{jogo.date | date:'dd/MM/yy'}} <i class="fa fa-dollar"></i>{{jogo.min}} - <i class="fa fa-dollar"></i> {{jogo.max}}</div>
    </div>
    <div class="buttonGroup">
        <button class="lightblue allPlayers" ng-click="showAllPlayers(jogo.event_id)"><i class="fa fa-users"></i> </button>
        <button class="lightgreen pickedFriend" ng-show="jogo.played == 1" ng-click="showPickedFriend(jogo.pick_name,jogo.pick_message)"><i class="fa fa-user"></i> </button>
        <button class="white" ng-show="jogo.played == 0" ng-click="pickAPlayer(jogo.event_id,auth.user.id)"><i class="fa fa-ticket"></i> </button>
        <button class="gray" ng-click="confirmDelete(jogo.id,jogo.event_id)"><i class="fa fa-recycle" ng-click="confirmDelete()"></i> </button>
    </div>
</div>
